<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="CMSMaxNodeAliasLength" value="450" />
	<add key="CMSMaxNodeNameLength" value="100" />
	<add key="SiteId" value="1" />
	<add key="SiteName" value="Launchpad" />

	<!-- CMS Staging Server Name-->
	<!-- Set to DEV so we don't create unnecessary looping on the staging tasks -->
	<add key="CMSStagingServerName" value="DEV" />

	<add key="CMSAzureStorageEnabled" value="true" />
	<add key="CMSAzurePublicContainer" value="true" />
	<add key="CMSAzureAccountName" value="cxlpksdev" />
	<add key="CMSAzureSharedKey" value="JbfrcDpSfORp0SPH1BnxkUWPeyv5ZgAijjHz3oaT1O7weJ5zrgXs0LGrKhIWYiPt6W+YMHoqJ1uIVqssDJ+Bbg==" />
	<add key="CMSAzureBlobEndPoint" value="https://cxlpksdev.blob.core.windows.net" />
</appSettings>