<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- The following connection string configuration should be updated per project. -->
	<add name="CMSConnectionString" connectionString="Data Source=13.89.222.134;Initial Catalog=CXLP-KENTICO-DB-DEV;Integrated Security=False;Persist Security Info=False;User ID=rise_admin;Password=keat7wpmPAzWTqz;Connect Timeout=300;Encrypt=False;Current Language=English;"/>
</connectionStrings>