@*
    Built with Common Launchpad 2.0.2
*@

@model WysiwygViewModel

@if (string.IsNullOrWhiteSpace(Model.Content))
{
    return;
}


<section class="wysiwyg @Model.SectionClass">
    <div class="container">
        <div class=" row">
            <div class="col-12">
                @* The fr-view is a class added to page builder wysiwygs. Added fr-view for consistency. *@
                <div class="fr-view">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
</section>