<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!-- The default connection string is the Development Database and is transformed for all other environments -->
		<add name="CMSConnectionString" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="Data Source=13.89.222.134;Initial Catalog=CXLP-KENTICO-RG-PROD;Integrated Security=False;Persist Security Info=False;User ID=rise_admin;Password=keat7wpmPAzWTqz;Connect Timeout=60;Encrypt=False;Current Language=English;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- IMPORTANT NOTE -->
		<!-- These transforms are for source control only. Use Azure DevOps Pipelines - Variable Libraries to transform these values -->

		<!-- Cache Settings -->
		<!-- Cache Minutes -->
		<!-- Cache Set to 15 Minutes By Default and is extended to a week for production builds -->
		<add key ="cache:DefaultMinutes" xdt:Locator="Match(key)" xdt:Transform="Replace" value="10080"/>

		<!-- Web Farm Settings -->
		<!-- CMSInstanceNameSuffix -->
		<!-- CMSInstanceNameSuffix is transformed for each environment -->
		<add key="CMSInstanceNameSuffix" xdt:Locator="Match(key)" xdt:Transform="Replace" value="MVC_PROD" />

		<!-- App Environment Settings -->
		<!-- AppEnvironment is transformed for each environment -->
		<add key="AppEnvironment" xdt:Locator="Match(key)" xdt:Transform="Replace" value="PROD"/>

		<!-- LiveSite -->
		<!-- The live site setting should only be turned to true on the production environment and only once the site is LIVE -->
		<add key="LiveSite" xdt:Locator="Match(key)" xdt:Transform="Replace" value="true" />

		<!-- Azure Storage Settings -->
		<!-- Azure Storage Settings are transformed for each environment -->
		<add key="CMSAzureAccountName" xdt:Locator="Match(key)" xdt:Transform="Replace" value="cxlpksprod" />
		<add key="CMSAzureSharedKey" xdt:Locator="Match(key)" xdt:Transform="Replace" value="M1JTDXcbwhNX0uaqgPrxtdZJ+GhVVuto2eo/1z9bvXVyWpBkDG5dXVal58AlboaYlkVVU0nqeiJ5qB3gVEfyWw==" />
		<add key="CMSAzureBlobEndPoint" xdt:Locator="Match(key)" xdt:Transform="Replace" value="https://cxlpksprod.blob.core.windows.net" />

		<!-- Search Index Settings -->
		<!-- Search Index Settings are transformed for each environment -->
		<!-- IMPORTANT NOTE - Launchpad only has 1 index for all the site for development purposes, on actual projects, create environment specific indices -->
		<add key="Search:Index:Global" xdt:Locator="Match(key)" xdt:Transform="Replace" value="cxlp-kentico-sqki-lp-global-dev" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>