container_commands:
  00_IIS_IUSRS:
    command: $accessRule = New-Object System.Security.AccessControl.FileSystemAccessRule("IIS_IUSRS", "Modify", "ContainerInherit,ObjectInherit", "None", "Allow"); $acl = Get-ACL "C:\inetpub\AspNetCoreWebApps\KenticoCMS"; $acl.AddAccessRule($accessRule); Set-ACL -Path "C:\inetpub\AspNetCoreWebApps\KenticoCMS" -ACLObject $acl
    waitAfterCompletion: 0
