container_commands:
  00_IIS_IUSRS:
    command: $accessRule = New-Object System.Security.AccessControl.FileSystemAccessRule("IIS_IUSRS", "Modify", "ContainerInherit,ObjectInherit", "None", "Allow")
    command: $acl = Get-ACL "C:\inetpub\AspNetCoreWebApps\KenticoCMS"
    command: $acl.AddAccessRule($accessRule)
    command: Set-ACL -Path "C:\inetpub\AspNetCoreWebApps\KenticoCMS" -ACLObject $acl
    waitAfterCompletion: 0
