files:
  "C:\\IIS_IUSRS.ps1":
    content: |
      $accessRule = New-Object System.Security.AccessControl.FileSystemAccessRule("IIS_IUSRS", "Modify", "ContainerInherit,ObjectInherit", "None", "Allow")
      $acl = Get-ACL "C:\inetpub\AspNetCoreWebApps\KenticoCMS"
      $acl.AddAccessRule($accessRule)
      Set-ACL -Path "C:\inetpub\AspNetCoreWebApps\KenticoCMS" -ACLObject $acl

commands:
  00_IIS_IUSRS:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\IIS_IUSRS.ps1

container_commands:
  010_set_IIS_IUSRS_Permissions:
    command: copy C:\IIS_IUSRS.ps1 "C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\03_IIS_IUSRS.ps1"
