<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Configuration" />
        <add namespace="Newtonsoft.Json" />
        <add namespace="Launchpad.Core.Abstractions.Models.Summary" />
        <add namespace="Launchpad.Core.Enums" />
        <add namespace="Launchpad.Core.Extensions" />
        <add namespace="Launchpad.Core.Models" />
        <add namespace="Launchpad.Core.Models.Summary" />
        <add namespace="Launchpad.Core.Utilities" />
        <add namespace="Launchpad.Infrastructure.Kentico.Web.HtmlHelpers" />
        <add namespace="Launchpad.Infrastructure.Kentico.Web.Models.ViewModels" />
        <add namespace="Launchpad.Web.Models.Common.FormComponents" />
        <add namespace="Launchpad.Web.Models.Common.InlineEditors" />
        <add namespace="Launchpad.Web.Models.Common.ViewModels" />
        <add namespace="Launchpad.Web.Models.Common.Widgets" />
        <add namespace="Launchpad.Web.Models.Custom.FormComponents" />
        <add namespace="Launchpad.Web.Models.Custom.InlineEditors" />
        <add namespace="Launchpad.Web.Models.Custom.ViewModels" />
        <add namespace="Launchpad.Web.Models.Custom.Widgets" />
        <add namespace="Kentico.Components.Web.Mvc.InlineEditors" />
        <add namespace="Kentico.Content.Web.Mvc" />
        <add namespace="Kentico.PageBuilder.Web.Mvc" />
		<add namespace="Kentico.Web.Mvc" />
        <!-- ================ CUSTOM =============== -->
        <!-- ======================================= -->
        <!-- Add Namespaces Below This Line ======== -->
        <!-- ======================================= -->
        <!-- ======================================= -->
	  </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>