$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-amazon: "\e901";
$icon-arrow-circle: "\e902";
$icon-arrow-down-circle: "\e903";
$icon-arrow-up-circle: "\e905";
$icon-arrows-extend: "\e906";
$icon-chart-up-arrow: "\e91b";
$icon-checkmark-box: "\e91d";
$icon-computer-search-mobile: "\e927";
$icon-dollar-sign: "\e93e";
$icon-facebook-circle: "\e943";
$icon-facebook-f: "\e944";
$icon-gear: "\e94c";
$icon-gears: "\e94d";
$icon-global-arrow-down: "\e94f";
$icon-global-arrow-right: "\e950";
$icon-global-checkmark: "\e951";
$icon-global-close: "\e952";
$icon-global-menu: "\e953";
$icon-global-search: "\e954";
$icon-home: "\e95c";
$icon-instagram-circle: "\e95d";
$icon-instagram: "\e95e";
$icon-linkedin-circle: "\e96c";
$icon-linkedin: "\e96d";
$icon-location: "\e96e";
$icon-mail-open: "\e970";
$icon-newsletter: "\e980";
$icon-paintbrush-crop: "\e984";
$icon-pie-chart: "\e990";
$icon-pinterest-circle: "\e992";
$icon-pinterest: "\e993";
$icon-play: "\e994";
$icon-search: "\e9a1";
$icon-snapchat-circle: "\e9a7";
$icon-snapchat: "\e9a8";
$icon-tiktok-circle: "\e9ae";
$icon-tiktok: "\e9af";
$icon-twitter-circle: "\e9b5";
$icon-twitter: "\e9b6";

