/*
 * Built with Common Launchpad 2.0.2
 */

@import '../../_references.scss';

.subscribe-banner {
    background: $light-gray;
    padding: 45px;
    text-align: center;
    font-weight: 500;

    h2 {
        text-align: center;
        margin: 0 0 10px;
    }

    p {
        margin-bottom: 25px;
    }
}

.subscribe-sidebar {
    h2 {
        @include fontSize(18px);
        line-height: 22px;
        margin-bottom: 15px;
    }

    p {
        @include fontSize(16px);
        margin-bottom: 10px;
    }
}