@*
    Built with Common Launchpad 2.0.2
*@

@using Kentico.Forms.Web.Mvc
@using Kentico.Web.Mvc

<div class="row">
    <div class="col-12 col-sm-4">
        @Html.Kentico().FormZone()
    </div>
    <div class="col-12 col-sm-4">
        @Html.Kentico().FormZone()
    </div>
    <div class="col-12 col-sm-4">
        @Html.Kentico().FormZone()
    </div>
</div>