/*
 * Built with Common Launchpad 2.0.2
 */

@import '../../_references.scss';

p.error:before {
    content: none;
}

.error {
    .field-label {
        color: $secondary;
    }

    input[type="text"], select {
        border-color: $danger;
    }
}

.custom-file-input.error {
    + .custom-file-label {
        border-color: $danger;
    }
}

input.error {
    border-color: $danger;
    margin-bottom: 0;

    + label.error {
        color: $danger !important;
    }
}

span.error, .form-field span.error, label.error, p.error.no-label {
    @include fontSize(16px);
    line-height: 24px;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 5px;

    &:before {
        @include fontSize(12px);
        content: '\e952';
        font-family: 'icomoon';
        margin-top: 6px;
        margin-right: 8px;
    }
}

p.error.no-label {
    margin-top: -10px;
}