@*
    Built with Common Launchpad 2.0.2
*@

@using Kentico.Forms.Web.Mvc
@using Launchpad.Web.Models.Common.FormComponents

@model DynamicRadioInputComponent

@{
    IDictionary<string, object> htmlAttributes = ViewData.GetEditorHtmlAttributes();
}
@{
    @* Specifies additional HTML attributes for the input fields *@
    if (htmlAttributes.ContainsKey("class"))
    {
        htmlAttributes["class"] += " radio-input";
    }
    else
    {
        htmlAttributes["class"] = "radio-input";
    }
    if (Model.Properties.Required)
    {
        htmlAttributes["class"] += " required";
    }
    string id = Html.GenerateUniqueId("radioComponent-");
    htmlAttributes["id"] = id;

}

@foreach (KeyValuePair<string, string> opt in Model.Properties.GetOptions())
{
    <div class="radio-container">
        @Html.RadioButtonFor(m => m.Value, opt.Key, htmlAttributes)
        <label>@opt.Value</label>
    </div>

}



<div class="error empty hidden">
    Please select an option above
</div>
<script type="text/javascript">
    if (document.readyState === "loading") {
        // Calls the function during the 'DOMContentLoaded' event, after the HTML document has been completely loaded
        // See https://stackoverflow.com/questions/8835413/difference-between-load-vs-domcontentloaded
        window.addEventListener("load", function () {
            @if (!String.IsNullOrEmpty(Model.Properties.CustomTooltip))
            {
                @: FormTools.setTooltip("#@id", "@Model.Properties.CustomTooltip");
            }
        });
    } else {
        // Calls the function directly in cases where the widget is rendered dynamically after 'DOMContentLoaded' has occurred
        @if (!String.IsNullOrEmpty(Model.Properties.CustomTooltip))
        {
            @: FormTools.setTooltip("#@id", "@Model.Properties.CustomTooltip");
        }
    }
</script>