<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!-- The default connection string is the Development Database and is transformed for all other environments -->
		<add name="CMSConnectionString" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="Data Source=13.89.222.134;Initial Catalog=CXLP-KENTICO-RG-STAGING;Integrated Security=False;Persist Security Info=False;User ID=rise_admin;Password=keat7wpmPAzWTqz;Connect Timeout=60;Encrypt=False;Current Language=English;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- IMPORTANT NOTE -->
		<!-- These transforms are for source control only. Use Azure DevOps Pipelines - Variable Libraries to transform these values -->

		<!-- CMS Staging Server Name-->
		<!-- CMSStagingServerName is transformed for each environment -->
		<add key="CMSStagingServerName" xdt:Locator="Match(key)" xdt:Transform="Replace" value="STAGING"/>

		<!-- Web Farm Settings -->
		<!-- CMSInstanceNameSuffix -->
		<!-- CMSInstanceNameSuffix is transformed for each environment -->
		<add key="CMSInstanceNameSuffix" xdt:Locator="Match(key)" xdt:Transform="Replace" value="CMS_STAGING" />

		<!-- App Environment Settings -->
		<!-- AppEnvironment is transformed for each environment -->
		<add key="AppEnvironment" xdt:Locator="Match(key)" xdt:Transform="Replace" value="STAGING"/>

		<!-- Azure Storage Settings -->
		<!-- Azure Storage Settings are transformed for each environment -->
		<add key="CMSAzureAccountName" xdt:Locator="Match(key)" xdt:Transform="Replace" value="cxlpksstaging" />
		<add key="CMSAzureSharedKey" xdt:Locator="Match(key)" xdt:Transform="Replace" value="thfuzjT1ndUnQa4y9DrGeb12CDSk70/i6h6aYIJnEj7UyjL25Vb1zY5kH2Qi1G4I2TDmF9STuEj+iQuDM3nopw==" />
		<add key="CMSAzureBlobEndPoint" xdt:Locator="Match(key)" xdt:Transform="Replace" value="https://cxlpksstaging.blob.core.windows.net" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>