@*
    Built with Common Launchpad 2.0.2
*@

@model Launchpad.Web.Models.Common.ViewModels.EventListingViewModel

<div class="template-people-listing">
    @Html.HeroFor(m => m.HeroViewModel)
    <br />
    @Html.WysiwygFor(m => m.WysiwygViewModel)
    <br />
    @Html.PageBuilderFor(m => m.PageBuilderViewModel)
    <br />
</div>