@*
    Built with Common Launchpad 2.0.2
*@

@model ComponentViewModel<Launchpad.Web.Models.Common.Widgets.ChildSummaryWidgetProperties>

@{
    Model.Properties.PopulateChildSummary(Model.Page.NodeID);
}

<div class="cards--list">
    <div class="row">
        @foreach (var child in Model.Properties.Cards)
        {
            <div class="col-md-6">
                @Html.CardFor(m => child)
            </div>
        }
    </div>
</div>